<div class="gray_background">
  <ul class="wrapper clearfix product-container" id="other_points">

<% if @products && @products.count > 0 %>
<% for product in @products %>
    <li id="section-1" class="individual-product">
<a rel="nofollow" href="/checkout?id=<%= product.id %>">

<img src="<%= product.image_url %>" class="product-image" />
<span class="shadow"></span>
      <h3><%= product.name %></h3>
      <h5>$ <%= product.price %></h5>

      <p><%= product.description %></p>

</a>
    </li>
<% end %>
<% end %>
  </ul>
</div>
