
<div id="wrapper">
<div id="container">

    <div id="header">
      <ul>
       

<!-- <li ><a href="/">  <img src="https://s3.amazonaws.com/selfstarter/GRiT-Logo-Shield-onBlack-final.png" style="width: 100px;" /></a></li>
-->
<li><img src="https://s3.amazonaws.com/selfstarter/FundingSite-Checkout-Nov21-HeaderLogoOnly.png" style="width: 100%; top: 0px; position: absolute;" /> </li>
          <li class="profile">
          </li>
      </ul>
      <div style="clear:both"></div>
    </div>

    <div id="content">

		<!-- yield start -->
		<link href="/assets/login-76944e0097527c01541b37c25d34afe0.css" media="screen" rel="stylesheet" type="text/css">
<div class="content">

		<div id="account">

			<div id="login" style="position: relative;">
			


<img src class="preview-image" style="position: absolute;width: 200px;right: 0px;top: 30px;">
	
			<div class="header">
			<h3> Pre-order</h3>
			</div>
			
				<div class="settingsContent" id="login-form">
				

<%= form_tag({:controller=> 'preorder', :action => "prefill"}, :id => "order-form", :class=>"fade", :method=>'post') do %>

<div class="form-row">
 

<% @ids = @products %>
<% @rebates = @products %>          
 

<% for product_id in @ids %>

<input type="hidden" value="<%= product_id.id %>" name="products[]" />

<% end %> 

<% if @products %>

<% for product in @products %>
<span class="item-row">
<input id="<%= product.id %>" value="" name="product[<%= product.id %>]" class="quantity" type="number" min="0" max="50">
 x $ <span class="price" id="<%= product.price %>" > <%= product.price %> </span> <a data-url="<%= product.image_url %>" class="ordertype-item"><%= product.name %></a><br>
</span>
<% end %>

<% end %>

<input type="checkbox" name="outside-us" id="outside-us" value="true">
International Shipping (outside US or Canada)<br/>

<input type="hidden" name="total" value id="total_cost" /> 



<table class="summary-table">

<tr style="display:none;">
<td>
            <div class="total discounts">
            $<span class="subtotal">0</span>
            </div>
</td>
<td>
Subtotal
</td>
</tr>


<tr>
<td>
            <div class="total discounts">
            $<span class="base-discount">0</span> 
            </div>
</td>
<td>
Base Discount
</td>
</tr>

<tr>
<td>
            <div class="total discounts">
            $<span class="volume-discount">0</span> 
            </div>
</td>
<td>
Volume Discount
</td>
</tr>
   
<tr>
<td>
            <div class="total discounts">
            <span class="total-discount">0</span> % 
            </div>
</td>

<td>
TOTAL Discount
</td>

</tr>

<tr style="display:none;">
<td><span class="total-shipping"></span></td>
<td>
shipping
</td>
</tr>

<tr>     
<td>
            <div class="total">
            $<span id="order-total">0</span> 
            </div>
</td>

<td>
TOTAL (including shipping)
</td>
</tr>

<tr>
<td>
            <div class="total">
            $<span id="order-total-deposit">0</span> 
            </div>
<input type="hidden" id="order-total-deposit-input" value="" name="deposit"/>

</td>

<td>
 TOTAL - Deposit (due upon order)
</td>

</tr>

<tr>
<td>
            <div class="total">
            $<span id="order-total-balance">0</span> 
            </div>

</td>
<td>
TOTAL - Balance (due prior to shipping)
</td>

</tr>
</table>
<input type="hidden" id="order-total-balance" value="" name="balance" />



                                          <div class="clear">
                                            <label for="user_email">Email</label>
                                            <input id="user_email"  style="width: 300px;" name="email"  type="text">
                                          </div>


          </div>



	
					<div id="login-button-container">
						<div id="login-forgot"><a href="/account/forgot"> </a></div>
						<div id="login-button" class="checkout-amazon"><a class="buy-trigger reserve" name="commit" > 
<img src="https://s3.amazonaws.com/selfstarter/CheckoutAmazon.png" style="width: 250px;"/>
</a></div> 
						<div class="clear"></div>
					</div>




<% end %>
				</div>

<!--
<h3 style="margin-top:30px;margin-bottom:30px;">
Kickstarter Rebate
</h3>

<table>
<tr><td> $<span id="total-rebate"></span> </td><td> Total Potential Rebate</td><td>  </td></tr>

<% for rebate in @rebates %>
<tr><td>  </td><td> $<span id="rebate_<%= rebate.id %>"> </span></td>  <td> <%= rebate.name %> </td></tr>
<% end %>

</table>

<p class="kickstarter" style="margin-top:30px;"> * Qualifying Kickstarter Rebate will be applied to any pre-order (for matching products) placed during the Kickstarter funding drive. Rebate will be applied once Kickstarter pledge drive is successfully completed and we recieve confirmation of matching Pledge. Note that customer information must be the same for both Kickstarter and Pre-Ordering
</p>
-->

			</div>

			<div style="padding-top: 0px;" id="about">
				<div class="about-inner">


<h3 style="margin-top:30px;margin-bottom:30px;">
Kickstarter Rebate
</h3>

<table>
<tr><td> $<span id="total-rebate"></span> </td><td> Total Potential Rebate</td><td>  </td></tr>

<% for rebate in @rebates %>
<tr><td>  </td><td> $<span id="rebate_<%= rebate.id %>"> </span></td>  <td> <%= rebate.name %> </td></tr>
<% end %>

</table>

<p class="kickstarter"> * Qualifying Kickstarter Rebate will be applied to any pre-order (for matching products) placed during the Kickstarter funding drive. Rebate will be applied once Kickstarter pledge drive is successfully completed and we recieve confirmation of matching Pledge. Note that customer information must be the same for both Kickstarter and Pre-Ordering
</p>






					<h5 style="margin-top:30px;"> When will I get my Order</h5> 
We are in the process of making our production tools! The first batch of earphones will ship soon. Submit your payment and we will keep you updated via email.
					<br><br>

                                        <h5> Can I manage my order?</h5>        
Yes! <a href="/feedback"> Send us a note </a> regarding the changes you'd like to make before your wallet ships. Please include your reference number.
                                        <br><br>


					<h5> Is this form secure? </h5>   
Yes, we use Amazon Payments to process your payment. It relies on the same security protocols used in online banking. Your private information is submitted using HTTPS. It is secure.

				</div>

<img style="width: 60px; margin-top: 20px;" src="https://s3.amazonaws.com/selfstarter/AmazonPayments.png" class="amazon-payments"/>





	</div>

		</div>

</div>
		<!-- yield end -->

    </div>

  </div>
</div>
