<!DOCTYPE html>
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title><%= Settings.product_name %></title>
    <%= stylesheet_link_tag    "application", "application.css" %>
    <%= javascript_include_tag "application" %>


<style>

#other_points li#section-1.individual-product {
width: 350px;
float: left;
}

img.product-image {
width:350px;
}


#other_points li#section-1.individual-product {
text-align:center;
}

</style>
  </head>
  <body>
    <%= render 'header' %>
    <%= yield %>
    <%= render 'footer' %>
  </body>
</html>
