<!DOCTYPE html>
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title><%= Settings.product_name %></title>
    <%= stylesheet_link_tag    "application", "application.css" %>
    <%= javascript_include_tag "application" %>


<style>


#section-1.sound {
background: url("https://s3.amazonaws.com/selfstarter/wifi.png") no-repeat center top;
}

#section-1.settings {
background: url("https://s3.amazonaws.com/selfstarter/settings.png") no-repeat center top;
}

#section-1.people {
background: url("https://s3.amazonaws.com/selfstarter/people.png") no-repeat center top;
}

#section-1.bluetooth {
background: url("https://s3.amazonaws.com/selfstarter/bluetooth.png") no-repeat center top;
}

h3.individual-product {
font-size: 38px;
}

a {
text-decoration: none;
color: #292929;
}


#other_points li#section-1.individual-product {
width: 340px;
float: left;
}

img.product-image {
width:400px;
}
img.product-image:hover {
opacity:0.6
}

#other_points li#section-1.individual-product {
text-align:center;
}

</style>
  </head>
  <body>
    <%= render 'header' %>
    <%= yield %>
    <%= render 'footer' %>
  </body>
</html>
